* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(188, 183, 177);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.dropdown {
    width: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.dropdown-content {
    max-height: 0; /* Start with 0 height */
    overflow: hidden; /* Hide content */
    transition: max-height 0.3s ease; /* Smooth sliding effect */
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-top: 1rem;
}

.dropdown-content a {
    text-decoration: none;
    color: black;
    padding: 0.4rem 4rem;
    background-color: skyblue;
    border: 1px solid black;
    font-size: 1.5rem;
}

button {
    cursor: pointer;
    padding: 0.4rem 2rem;
    font-size: 1.4rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: black;
    color: white;
}

.show {
    max-height: 200px; /* Set enough height to show content */
}
